.Player {
  font-weight: 100;
  font-family: sans-serif;
  margin: 5px 0;
  display: flex;
  justify-content: space-around;

  span {
    font-size: 20px;
    font-weight: 100;
  }

  .Player__name {
    width: 100%;

    &::before {
      content: '-';
      margin-right: 10px;
    }
  }

  .Player__score {
    margin: 0 10px;
    border: 1px solid rgba(black, 0.2);
    padding: 3px 8px;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .Player {
    display: block;
    padding-left: 10px;
  }

  .Player__name {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }
}
